{% extends 'base.html' %}

{% block title %}Добавить прием пищи{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_meal_style.css') }}">
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="content-section">
            <div class="panel">
                <h2>Продукты</h2>
                <div style="flex: 1;">

                    <div style="overflow-y: scroll; overflow-x: hidden; height: 400px; margin-bottom: 10px;">
                        <table class="my-table" style="margin-bottom: 0px;">
                            <thead>
                                <tr>
                                    <th style="width: 150px;">Продукт</th>
                                    <th style="width: 50px;">К</th>
                                    <th style="width: 50px;">Б</th>
                                    <th style="width: 50px;">Ж</th>
                                    <th style="width: 50px;">У</th>
                                    <th style="width: 110px;">Масса, г</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in available_products %}
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.calories }}</td>
                                    <td>{{ product.proteins }}</td>
                                    <td>{{ product.fats }}</td>
                                    <td>{{ product.carbohydrates }}</td>
                                    <td>
                                        <form method="GET" action="/add_meal">
                                            <input type="hidden" name="search" value="{{ search_query }}">
                                            <input type="hidden" name="add_id" value="{{ product.id }}">
                                            <div style="display: flex; align-items: center;">
                                                <input type="number" name="add_mass" class="form-control form-control-sm" value="100" style="width: 60px; margin-right: 5px;" min="1" max="10000">
                                                <button type="submit" class="btn btn-sm btn-table" style="background-color: #95cf92;">+</button>
                                            </div>
                                            {% if choice %}
                                                <input type="hidden" name="choice" value="{{ choice }}">
                                            {% endif %}
                                        </form>
                                    </td>
                                </tr>
                                {% else %}
                                <tr><td colspan="6" class="text-center">Нет доступных продуктов.</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <form method="GET" action="/add_meal">
                        <div style="display: flex; height: 50px; padding: 0px 0px;">
                            <input type="text" name="search" class="form-control" placeholder="ПОИСК" value="{{ search_query }}" style="margin-right: 10px;">
                            <button type="submit" class="btn btn-primary" style="margin-top: 0px; width: 55px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                            </button>
                            {% if choice %}
                                <input type="hidden" name="choice" value="{{ choice }}">
                            {% endif %}
                        </div>
                    </form>

                    <a href="/add_new_product" class="btn btn-primary" style="margin-top: 10px;">Добавить новый продукт</a>

                </div>
            </div>

            <div>
                <div class="panel" style="margin-bottom: 30px;">
                    <div style="flex: 1;">
                        <h2>Добавленное</h2>

                        <div style="overflow-y: scroll; overflow-x: hidden; height: 230px;">
                            <table class="my-table" style="margin-bottom: 0;">
                                <thead>
                                    <tr>
                                        <th style="width: 150px;">Продукт</th>
                                        <th style="width: 150px;">Масса, г</th>
                                        <th style="width: 45px;">X</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if added_products %}
                                        {% for item in added_products %}
                                        <tr>
                                            <td>{{ item["name"] }}</td>
                                            <td>{{ item["mass"] }}</td>
                                            <td>
                                                <form method="GET" action="/add_meal">
                                                    <input type="hidden" name="search" value="{{ search_query }}">
                                                    <input type="hidden" name="remove_id" value="{{ item['id'] }}">
                                                    {% if choice %}
                                                        <input type="hidden" name="choice" value="{{ choice }}">
                                                    {% endif %}
                                                    <button type="submit" class="btn btn-sm btn-table" style="background-color: #f08080;">-</button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr><td colspan="7" class="text-center">Нет добавленных продуктов.</td></tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <h2>Итого</h2>
                    <table class="my-table" style="margin-bottom: 0;">
                        <thead>
                            <tr>
                                <th>К</th>
                                <th>Б</th>
                                <th>Ж</th>
                                <th>У</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ total["calories"] }}</td>
                                <td>{{ total["proteins"] }}</td>
                                <td>{{ total["fats"] }}</td>
                                <td>{{ total["carbohydrates"] }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="text-align: center;">
                        <a href="{{ '/confirm_meal/' + choice }}" class="btn btn-primary">Готово</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}