{% extends "base.html" %}

{% block title %}Статьи{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/article_style.css') }}">
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="panel" style="max-width: 500px;">
            <h2>Статьи</h2>
            <div style="overflow-x: hidden; overflow-y: scrollbar; width: 100%; max-height: 500px;">
                {% for article, pic_url in articles %}
                    <div class="article-preview" style="display: flex; flex-direction: column; justify-content: center;">
                        <div class="article-pic">
                            <img src="{{ pic_url }}">
                        </div>

                        <p class="article-title">{{ article.title }}</p>

                        {% if article.user %}
                            <p class="main-par" style="text-align: center; margin: 0;">Автор: {{ article.user_obj.name }} {{ article.user_obj.surname }}</p>
                        {% endif %}

                        <div style="display: flex; flex-direction: row; gap: 10px; justify-content: center; width: 100%;">
                            {% if current_user.is_admin or article.user == current_user.id %}
                                <a href="/article/{{ article.id }}" class="btn btn-secondary" style="font-size: 16px; padding: 5px; width: 30%;">
                                    <i class="fa-solid fa-book-open-reader fa-btn"></i>Читать
                                </a>
                                <a href="/delete_article/{{ article.id }}" class="btn btn-danger" style="font-size: 16px; padding: 5px; width: 30%;">
                                    <i class="fa-solid fa-trash-can fa-btn"></i>Удалить
                                </a>
                            {% else %}
                                <a href="/article/{{ article.id }}" class="btn btn-secondary" style="width: 30%; font-size: 16px; padding: 5px;">
                                    <i class="fa-solid fa-book-open-reader fa-btn"></i>Читать
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <a href="/add_article" class="btn btn-primary" style="margin: 10px 0 0 0;">
                <i class="fa-solid fa-plus fa-btn"></i>Добавить статью
            </a>
        </div>
    </div>
{% endblock %}